// header
header.header#header
	.wrapper
		a(href="#").logo
			picture
				source(media="(min-width: 1400px)", srcset="img/logo-1920.png")
				source(media="(min-width: 769px)", srcset="img/logo.png")
				img(src="img/logo-sm.png", alt="logo")
// /header