.welcome {
  padding-top: 140px;
  position: relative;
	&_row {
		display: flex;
		justify-content: space-between;
	}
	&_content {
    text-transform: uppercase;
    padding-top: 20px;
    margin-bottom: 5px;
    margin-left: -40px;
    letter-spacing: 0;
    position: relative;
    z-index: 2;
    img {
      display: block;
    }
  }
  &_wolf {
    position: absolute;
    bottom: -100px;
    right: -285px;
    z-index: 1;
  }
  @media (max-width: $break_xl) {
    &_row {

    }
    &_content {
      max-width: 450px;
      margin-bottom: 30px;
    }
    &_wolf {
      max-width: 1000px;
      right: -175px;
    }
  }
  @media (max-width: $break_md) {
    &_content {
      max-width: 350px;
    }
    &_wolf {
      max-width: 900px;
      right: -250px;
    }
  }
  @media (max-width: $break_sm) {
    padding-top: 80px;
    &_row {
      justify-content: center;
    }
    &_content {
      max-width: none;
      margin-bottom: 124%;
      margin-left: 0;
      padding-top: 47px;
    }
    &_wolf {
      right: -15px;
      left: -15px;
      bottom: 0;
    }
  }
  @media (max-width: $break_xs) {
    &_content {
    }
  }
}